
head
  title= title
  link(rel='stylesheet', href='/css/app.css')
  link(rel='stylesheet' href='/css/bootstrap.css')
  link(rel='stylesheet' href='/css/font-awesome.min.css')




body(class="nav-md")
    .col-md-12
    .modal-dialog(style='margin-bottom:0')
      .modal-content
        .panel-heading
          h3.panel-title Sign In
        .panel-body
          form(action='/kryptosattendance/dashboard/login', method='post')
            fieldset
              .form-group
                input.form-control(placeholder='E-mail', name='username', type='text', autofocus='')
              .form-group
                input.form-control(placeholder='Password', name='password', type='password', value='')
              .checkbox
                label
                  input(name='remember', type='checkbox', value='Remember Me')
                  | Remember Me
              input.btn.btn-sm.btn-success(type='submit', value='Login')